---
import { getPathWithBase } from '../utils/path';
---
<a href={getPathWithBase('/')}>Home</a>
<a href={getPathWithBase('/about/')}>About</a>
<a href={getPathWithBase('/blogs/')}>Blog</a>
<a href={getPathWithBase('/tags/')}>Tags</a>
